<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zoc.repository.siwc.PersonDao">
	
	<select id="list" resultType="Person" parameterType="Person">
		 select * from siwc_person
	</select>
	
	<insert id="insert" parameterType="Person">
		insert into siwc_person 
		values
		(${ID},${PROCESS_INSTANCE_ID},${person_id},${person_name});
	</insert>
	
</mapper> 
