<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zoc.repository.act.CNNSDYCNDao">

	<select id="list" resultType="CNNSDYCN" parameterType="CNNSDYCN">
		select c1,location,year,
		sum(nvl(c2,0)) c2,
		sum(nvl(c3,0)) c3,
		sum(nvl(c4,0)) c4,
		avg(nvl(c5,0)) c5
		from ACT_CNNSDYCN
		<where>
			<if test="location != '100000'">
				location = #{location}
			</if>
		</where>
		group by c1,location,year
		order by c0
	</select>

	<insert id="insert" parameterType="CNNSDYCN">
		insert into ACT_CNNSDYCN values
		(#{c1},#{c2},#{c3},#{c4},#{c5},#{location},#{year},#{c0})
	</insert>

	<update id="update" parameterType="CNNSDYCN">
		update ACT_CNNSDYCN set c1 = #{c1},
		c2 = #{c2},c3 = #{c3},c4 = #{c4},c5 = #{c5}
		where location = #{location}
		and year = #{year}
	</update>

	<delete id="delete" parameterType="CNNSDYCN">
		delete from ACT_CNNSDYCN
		<where>
			<if test="location != null">
				and location = #{location}
			</if>
			<if test="year != null">
				and year = #{year}
			</if>
		</where>
	</delete>

</mapper> 
