<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zoc.repository.act.CNNSDDYQDao">

	<select id="list" resultType="CNNSDDYQ" parameterType="CNNSDDYQ">
		select c1,location,year,
		sum(nvl(c2,0)) c2,
		sum(nvl(c3,0)) c3,
		avg(nvl(c4,0)) c4,
		sum(nvl(c5,0)) c5,
		sum(nvl(c6,0)) c6,
		avg(nvl(c7,0)) c7,
		avg(nvl(c8,0)) c8,
		avg(nvl(c9,0)) c9,
		avg(nvl(c10,0)) c10,
		avg(nvl(c11,0)) c11,
		avg(nvl(c12,0)) c12,
		sum(nvl(c13,0)) c13
		from ACT_CNNSDDYQ
		<where>
			<if test="location != null">
				location = #{location}
			</if>
			<if test="yearSection != null">
				and year in (${yearSection})
			</if>
			<if test="locationSection != null">
				and location in (${locationSection})
			</if>
		</where>
		group by c1,location,year
		order by c0
	</select>

	<insert id="insert" parameterType="CNNSDDYQ">
		insert into ACT_CNNSDDYQ values
		(#{c1},#{c2},#{c3},#{c4},#{c5},#{c6},#{c7},#{c8},#{c9},#{c10},#{c11},#{c12},#{c13},#{location},#{year},#{c0})
	</insert>

	<update id="update" parameterType="CNNSDDYQ">
		update ACT_CNNSDDYQ set c1 = #{c1},
		c2 = #{c2},c3 = #{c3},c4 = #{c4},c5 =
		#{c5},c6 =
		#{c6},c7 = #{c7},c8 = #{c8},c9 = #{c9},c10 = #{c10},c11 = #{c11},c12 = #{c12},c13 = #{c13}
		where location =
		#{location}
		and year = #{year}
	</update>

	<delete id="delete" parameterType="CNNSDDYQ">
		delete from ACT_CNNSDDYQ
		<where>
			<if test="location != null">
				and location = #{location}
			</if>
			<if test="year != null">
				and year = #{year}
			</if>
		</where>
	</delete>

</mapper> 
