<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zoc.repository.act.CNSZZSZXDao">
	
	<select id="list" resultType="CNSZZSZX" parameterType="CNSZZSZX">
		 select c1,year,
			round(avg(nvl(c2,0)),2) c2,
			round(avg(nvl(c3,0)),2) c3,
			round(avg(nvl(c4,0)),2) c4,
			round(avg(nvl(c5,0)),2) c5,
			round(avg(nvl(c6,0)),2) c6,
			round(avg(nvl(c7,0)),2) c7,
			round(avg(nvl(c8,0)),2) c8
		 from ACT_CNSZZSZX
		<where>
			<if test="location != null">
				location = #{location}
			</if>
			<if test="yearSection != null">
				and year in (${yearSection})
			</if>
			<if test="locationSection != null">
				and location in (${locationSection})
			</if>
		</where>
		group by c1,year
		order by c0
	</select>
	
	<insert id="insert" parameterType="CNSZZSZX">
		insert into ACT_CNSZZSZX values
		(#{c1},#{c2},#{c3},#{c4},#{c5},#{c6},#{c7},#{c8},#{location},#{year},#{c0})
	</insert>
	
	<update id="update" parameterType="CNSZZSZX">
		update ACT_CNSZZSZX set
		c2 = #{c2},c3 = #{c3},c4 = #{c4},c5 = #{c5},c6 = #{c6},c7 = #{c7},c8 = #{c8}
		where c1 = #{c1} and location = #{location} and year = #{year}
	</update>
	  
	<delete id="delete" parameterType="CNSZZSZX">
		delete from ACT_CNSZZSZX 
		<where>
			<if test="c1 != null">
				c1 = #{c1}
			</if>
			<if test="location != null">
				and location = #{location}
			</if>
			<if test="year != null">
				and year = #{year}
			</if>
		</where>
	</delete>
	
</mapper> 
