<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zoc.repository.act.CWSJHGJJDao">

	<select id="list" resultType="CWSJHGJJ" parameterType="CWSJHGJJ">
		select year,location,
		sum(nvl(c2,0)) c2,
		avg(nvl(c3,0)) c3,
		sum(nvl(c4,0)) c4,
		sum(nvl(c5,0)) c5,
		sum(nvl(c6,0)) c6,
		sum(nvl(c7,0)) c7,
		sum(nvl(c8,0))
		c8,
		sum(nvl(c9,0)) c9,
		sum(nvl(c10,0)) c10,
		sum(nvl(c11,0)) c11,
		sum(nvl(c12,0)) c12,
		avg(nvl(c13,0)) c13,
		sum(nvl(c14,0)) c14,
		sum(nvl(c15,0)) c15
		from ACT_CWSJHGJJ
		<where>
			<if test="location != null">
				location = #{location}
			</if>
			<if test="yearSection != null">
				and year in (${yearSection})
			</if>
			<if test="locationSection != null">
				and location in (${locationSection})
			</if>
		</where>
		group by year,location
		order by year
	</select>

	<insert id="insert" parameterType="CWSJHGJJ">
		insert into ACT_CWSJHGJJ
		values
		(#{year},#{c2},#{c3},#{c4},#{c5},#{c6},#{c7},#{c8},#{c9},#{c10},#{c11},#{c12},#{c13},#{c14},#{c15},#{location})
	</insert>

	<update id="update" parameterType="CWSJHGJJ">
		update ACT_CWSJHGJJ set
		c2 =
		#{c2},c3 = #{c3},c4 = #{c4},c5 = #{c5},c6 = #{c6},c7 = #{c7},c8 =
		#{c8},c9 = #{c9},c10 = #{c10},c11 = #{c11},c12 =
		#{c12},c13=#{c13},c14=#{c14},c15=#{c15}
		where year = #{year} and
		location =
		#{location}
	</update>

	<delete id="delete" parameterType="CWSJHGJJ">
		delete from ACT_CWSJHGJJ
		<where>
			<if test="year != null">
				year = #{year}
			</if>
			<if test="location != null">
				and location = #{location}
			</if>
		</where>
	</delete>
</mapper> 
