<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zoc.repository.security.PermissionDao">
	<resultMap type="Permission" id="permissionResult">
		<id property="permission" column="permission" />
		<result property="isSelected" column="isSelected" javaType="Boolean"
			jdbcType="VARCHAR" typeHandler="com.zoc.common.entity.BooleanTypeHandler" />
	</resultMap>

	<insert id="insertPermission" parameterType="Permission">
		insert into
		sm_permissions values (#{permission})
	</insert>
	<select id="list" parameterType="Permission" resultType="Permission">
		select * from sm_permissions
		<where>
			<if test="permission != null and permission != ''">
				permission like #{permission}
			</if>
		</where>
	</select>

	<select id="listPermissionByRoleIdMenuId" parameterType="String"
	resultMap="permissionResult">
		select a.permission ,b.role_id as isSelected FROM SM_MENU_PERMISSION a
		left join sm_role_menu_permission b 
		on a.menu_id = b.menu_id and a.permission = b.permission and  b.role_id = #{role_id} 
		where a.menu_id = #{menu_id}
	</select>
	
	<delete id="deleteAll" >
		delete from sm_permissions
	</delete>


</mapper> 
