<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zoc.repository.security.StandardCodeDao">
	<select id="list" parameterType="StandardCode" resultType="StandardCode">
		select * from sm_standard_code
		<where>
			<if test="code_name != null">
				code_name = #{code_name} order by code_order
			</if>
		</where>
	</select>
	
	<select id="listByPage" parameterType="StandardCode" resultType="StandardCode">
		select * from sm_standard_code
		<where>
			<if test="code_name != null">
				code_name = #{code_name} order by code_order
			</if>
		</where>
	</select>
	
	<select id="count" parameterType="StandardCode" resultType="int">
		select count(1) from sm_standard_code
	</select>
	
	<insert id="insert" parameterType="StandardCode">
		insert into sm_standard_code values
		(#{code_name},#{code_type},#{code_value},#{code_order})
	</insert>
	
	<update id="update" parameterType="StandardCode">
		update sm_standard_code set
		code_value = #{code_value},code_order = #{code_order}
		where code_name = #{code_name} and code_type = #{code_type}
	</update>
	
	<delete id="delete" parameterType="StandardCode">
		delete from sm_standard_code where code_name = #{code_name} and code_type = #{code_type}
	</delete>
	
</mapper> 
