<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zoc.repository.act.OutputDao">
	<select id="queryOut_1_1" parameterType="Integer" resultType="Out_1_1">
		select * from out_1_1
		<where>
			<if test="c1 != null">
				c1 = #{c1}
			</if>
		</where>
		 order by c1
	</select>
	
	<insert id="insertOut_1_1" parameterType="Out_1_1">
		insert into out_1_1 values
		(#{c1},#{c2},#{c3},#{c4},#{c5},#{c6},#{c7},#{c8},#{c9},#{c10},#{loc_id})
	</insert>
	
	<update id="updateOut_1_1" parameterType="Out_1_1">
		update out_1_1 set
		c2 = #{c2},c3 = #{c3},c4 = #{c4},c5 = #{c5},c6 = #{c6},c7 = #{c7},c8 = #{c8},c9 = #{c9},c10 = #{c10}}
		where c1 = #{c1}
	</update>
	
	<delete id="deleteOut_1_1" parameterType="int">
		delete from out_1_1 where c1 = #{c1}
	</delete>
	
	
</mapper> 
